body {
  font-family: Arial, sans-serif;
}

.poolsheet-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  table-layout: auto;
}

.poolsheet-cell,
.poolsheet-cell-blank {
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  border: 2px solid #000;
  box-sizing: border-box;
}

.poolsheet-cell-blank {
  background-color: #808080;
}

.poolsheet-fencer-main {
  max-width: 6cm;
  text-align: center;
  font-weight: bold;
  border: 2px solid #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(1em + 5vw);
}

.poolsheet-fencer-second {
  line-height: 1;
  font-size: calc(1em + 5vw);
  text-align: center;
  vertical-align: middle;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: bold;
  border: 2px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .bout-list-input{
  width: 3em;
} */
